.map{
    width: 1140px;
    height: 250px;
}
@media screen and (max-width:640px) {
    .map{
        width: 390px;
        height: 220px;
    }
}


@media screen and (min-width:641px) and (max-width:768px) {
    .map{
        width: 767px;
        height: 250px;
    }

}

@media screen and (min-width:769px) and (max-width:1024px) {

    .map{
        width: 1025px;
        height: 250px;
    }
}

@media screen and (min-width:1025px) and (max-width:1280px) {


}
@media screen and (min-width:1281px) and (max-width:1536px) {
.map{
    width: 1140px;
    height: 250px;
}

}