.slider-img{
    height: 300px;
}
.text-shadow{
    text-shadow: -1px -1px 10px #333, 1px -1px 10px #333, -1px 1px 10px #333, 1px 1px 10px #333
}
.marq{
    width: 1050px;
}

@media screen and (max-width:640px) {
.marq{
    width: 300px;
}
}


@media screen and (min-width:641px) and (max-width:768px) {
    .marq{
        width: 660px;
        margin-left: 10px;
    }

}

@media screen and (min-width:769px) and (max-width:1024px) {
    .marq{
        width: 680px;
        margin-left: 30px;
    }

}
